.page {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 30px solid red;
}

.page:first-child {
  max-width: calc(600px + 10vw);
}

.page:nth-child(1) {
  width: 100%;
  border: 10px solid blue;
}

/* .page:last-child {
  flex-grow: 1;
} */

.page-nested {
  width: 100%;
  border: 10px solid red;
  max-width: 745px;
}

.page img {
  width: 100%;
  margin-bottom: 16px;
}

.page p {
  line-height: 26px;
  margin-bottom: 16px;
}

.page h1 {
  line-height: 48px;
  font-size: 48px;
  margin-bottom: 16px;
}
