body,
html {
  font-family: 'geist', courier;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: geist;
  font-weight: 300;
  src: url('./geist/geist-light.woff2');
}

@font-face {
  font-family: geist;
  font-weight: 400;
  src: url('./geist/geist-regular.woff2');
}

@font-face {
  font-family: geist;
  font-weight: 500;
  src: url('./geist/geist-medium.woff2');
}

@font-face {
  font-family: geist;
  font-weight: 600;
  src: url('./geist/geist-semibold.woff2');
}

@font-face {
  font-family: geist;
  font-weight: 700;
  src: url('./geist/geist-bold.woff2');
}
